* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.block {
  float: left;
  width: 100%;
}

.block-intro {
  text-align: center;
}

.title {
  font-family: "Do Hyeon", sans-serif;
}

.block-intro .title {
  font-size: 40px;
  margin-top: 120px;
}

.block-intro .avatar {
  width: 180px;
  margin: 40px auto 0;
}

.block-intro .stuff {
  width: 800px;
  margin: 80px auto 0;
}

.block-meet {
  background-color: #8c43ff;
  height: 600px;
  color: #fff;
  text-align: center;
}

.block-meet .title {
  margin-top: 100px;
}

.block-meet .lead {
  max-width: 60%;
  margin: 0 auto;
}

.block-sections {
  height: 800px;
}

.block-sections .title {
  margin: 0 0 30px;
}

.block-sections .icon {
  margin-bottom: 30px;
}

.block-sections .container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  margin: -100px auto 0;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.block-sections .section {
  flex: 1;
  text-align: center;
  padding: 50px 15px;
}

.block-sections .dev {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.block-sections .text {
  margin: 0 0 60px;
}

.block-sections .purple-title {
  color: #8c43ff;
  margin-bottom: 0 0 10px;
}

.block-sections .list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.block-work {
}

.block-work .container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.block-work .work-container {
  padding: 10px;
  flex: 1;
  flex: 0 0 50%;
  max-width: 50%;
}

.block-work .work {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.block-work .overlay {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 300ms ease-out;
  text-align: center;
  padding: 15px;
}

.block-work .image {
  transition: transform 300ms ease-out;
}

.block-work .work:hover .overlay {
  opacity: 1;
}

.block-work .work:hover .image {
  transform: scale(1.1);
}
.block-see-more {
  text-align: center;
}
.block-see-more .dribble {
  width: 20px;
}

.button {
  padding: 16px 24px;
  border: 2px solid #8c43ff;
  border-radius: 43px;
  color: #8c43ff;
  transition: background-color 100ms ease-out, color 100ms ease-out;
}

.button:hover {
  background-color: #8c43ff;
  color: #fff;
}

.block-see-more .see-more-button {
  margin: 60px 0;
}
